<div class="container">
	
	<%= render :partial=>"devise/shared/navbar" %>  

	<div class="title">
		<h1> Wellington Exposure </h1>
	</div>
	
	<div class= "tag">
		<h2> Explore the wonderful colours of Wellington </h2>
	</div>
	
	<div id="aboutcontent">
		
	<h3>What is this project about?</h3>
		<p id="about">
			<i>Wellington Exposure</i> is an interactive website which allows you to search through images of Wellington, New Zealand, by colour. 
			The intention for this project is to showcase the wonderful colours the city has to offer. This website is a tool that enables people to step away from their digital devices and adventure outdoors with the purpose of seeing the Wellington region through the eyes of a photographer.
			This project's purpose is to expose young, local artists of Wellington and their unique photographic perspective. Local artists are welcome to submit their own photography. There is hope for this project to grow, develop and produce many colourful archives of Wellington photography. 
		</p>
		
	<h3>Would you like to submit your own photos?</h3>
		<p id="contact">
			If you are a local photographer and you are interested in submitting photographs, please fill out the form below.
		</p>

	<div id="contactform">
		<%= form_tag({action: "send_mail"}, method: "post") do %>
		
			<%= label_tag(:name)%> <br>
			<%= text_field_tag(:name)%> <br>
		
			<%= label_tag(:email)%> <br>
			<%= text_field_tag(:email)%> <br>
		
			<%= label_tag(:message)%> <br>
			<%= text_area_tag(:message)%> <br>
			
			<%= submit_tag("Send", :id => "send")%>

		<%end%>
	
	</div>
	
	</div>	
	
</div>


		