<div class="container">
	
	<%= render :partial=>"devise/shared/navbar" %>  

	<div class="title">
		<h1> Wellington Exposure </h1>
	</div>
	
	<div class= "tag">
		<h2> Explore the wonderful colours of Wellington </h2>
	</div>
	
	<div id="aboutcontent">
		
	<h3>What is this project about?</h3>
		<p id="about">
			<i>Wellington Exposure</i> in an interactive website which allows you to search through images of Wellington, NZ by colour. 
			My aim was to create a a website that would encourage locals to explore beyond their own neighbourhood and see what wonderful colours Wellington has to offer. I wanted the website to be a tool where people could step away from their digital devises and adventure outdoors with a purpose of seeing Wellington through the eyes of a photographer.
			Through this project I was also interested in exposing young, local artists of Wellington and introducing them to the wider community. I myself have a great interest in photography and have submitted my own photography to Wellington Exposure. Local artist are welcome to contact me to submit their own photography. I hope this project can grow and develop to produce many colourful archives of photography. 
		</p>
		
	<h3>Would you like to submit your own photos?</h3>
		<p id="contact">
			If you are a local photographer and would like to submit images, please fill out the form below and you will receive an email with a sign up code.
		</p>
		
	</div>	

<%= form_tag({action: "send_mail"}, method: "post") do %>
<%= label_tag(:name)%>
<%= text_field_tag(:name)%>
<%= label_tag(:email)%>
<%= text_field_tag(:email)%>
<%= label_tag(:message)%>
<%= text_area_tag(:message)%>
<%= submit_tag("Send")%>

<%end%>
	

</div>


		