
<%= render :partial=>"devise/shared/navbar" %> 

<div class="title">
	<h1>
		Wellington Exposure
	</h1>
</div>

<div id=showtable>
<table>
  <thead>
    <tr>
      <th id="artist" class="spacing">Artist</th>
      <th class="spacing">Description</th>
      <th class="spacing">Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td class="spacing"><%= image.name %></td>
        <td class="spacing"><%= image.description %></td>
        <td class="spacing"><%= image.colour %></td>
        <td><%= link_to 'Show', image %> <span class="bar">|</span></td> 
        <td><%= link_to 'Edit', edit_image_path(image) %> <span class="bar">|</span></td>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="newImage">
	<%= link_to 'New Image', new_image_path, :class=>"a_img" %> <span class="bar">|</span></td> <%= link_to 'Edit Profile', edit_registration_path, :class=>"a_img" %>
</div>
</div>