
<%= render :partial=>"devise/shared/navbar" %> 

<div class="title">
	<h1>
		Wellington Exposure
	</h1>
</div>



<div class="uploaded">
	<p>
		<strong>Name:</strong>
		<%= @image.name %>
	</p>

	<p>
		<strong>Description:</strong>
		<%= @image.description %>
	</p>

	<p>
		<%=image_tag(@image.picture_url, :class => "style_image", :width =>500) if @image.picture.present?%>
	</p>

	<p>
		<strong>Colour:</strong>
		<%= @image.colour %>
	</p>
<div class="img_a">
	<%= link_to 'Edit', edit_image_path(@image)%> <span class="bar">|</span>
	<%= link_to 'Back', images_path %>
</div>
</div>
